/* Utility classes */

@each $var, $val in $theme-01 {
  
  .clp-clr-#{$var} {
    color: var(--#{$var});
  }

  .clp-bg-#{$var} {
    background-color: var(--#{$var});
  }
  
  .clp-stroke-#{$var} {
    stroke: var(--#{$var});
  }
  
  .clp-fill-#{$var} {
    fill: var(--#{$var});
  }

}
