.preload * {
  transition: none !important;
}

body {
  margin: 0;
}

/* Default theme color values */
/* Default transitions */
/* CSS theme variables */
[page-colors=""] {
  --primary: none;
  --primary-v: none;
  --secondary: none;
  --secondary-v: none;
}

[page-colors=theme-01] {
  --primary: #f57f17;
  --primary-v: #fbc02d;
  --secondary: #651fff;
  --secondary-v: #b388ff;
}

[page-colors=theme-02] {
  --primary: #6200ee;
  --primary-v: #6200eea1;
  --secondary: #03dac6;
  --secondary-v: #03dac6a1;
}

[page-colors=theme-03] {
  --primary: #6200ee;
  --primary-v: #6200eea1;
  --secondary: #03dac6;
  --secondary-v: #03dac6a1;
}

[page-colors=theme-04] {
  --primary: #6200ee;
  --primary-v: #6200eea1;
  --secondary: #03dac6;
  --secondary-v: #03dac6a1;
}

[page-colors=theme-05] {
  --primary: #6200ee;
  --primary-v: #6200eea1;
  --secondary: #03dac6;
  --secondary-v: #03dac6a1;
}

[page-colors=theme-06] {
  --primary: #6200ee;
  --primary-v: #6200eea1;
  --secondary: #03dac6;
  --secondary-v: #03dac6a1;
}

/* Utility classes */
.clp-clr-primary {
  color: var(--primary);
  transition: color 1.5s ease-in;
}

.clp-bg-primary {
  background-color: var(--primary);
  transition: background-color 1.5s ease-in;
}

.clp-stroke-primary {
  stroke: var(--primary);
  transition: stroke 1.5s ease-in;
}

.clp-fill-primary {
  fill: var(--primary);
  transition: fill 1.5s ease-in;
}

.clp-clr-primary-v {
  color: var(--primary-v);
  transition: color 1.5s ease-in;
}

.clp-bg-primary-v {
  background-color: var(--primary-v);
  transition: background-color 1.5s ease-in;
}

.clp-stroke-primary-v {
  stroke: var(--primary-v);
  transition: stroke 1.5s ease-in;
}

.clp-fill-primary-v {
  fill: var(--primary-v);
  transition: fill 1.5s ease-in;
}

.clp-clr-secondary {
  color: var(--secondary);
  transition: color 1.5s ease-in;
}

.clp-bg-secondary {
  background-color: var(--secondary);
  transition: background-color 1.5s ease-in;
}

.clp-stroke-secondary {
  stroke: var(--secondary);
  transition: stroke 1.5s ease-in;
}

.clp-fill-secondary {
  fill: var(--secondary);
  transition: fill 1.5s ease-in;
}

.clp-clr-secondary-v {
  color: var(--secondary-v);
  transition: color 1.5s ease-in;
}

.clp-bg-secondary-v {
  background-color: var(--secondary-v);
  transition: background-color 1.5s ease-in;
}

.clp-stroke-secondary-v {
  stroke: var(--secondary-v);
  transition: stroke 1.5s ease-in;
}

.clp-fill-secondary-v {
  fill: var(--secondary-v);
  transition: fill 1.5s ease-in;
}