/* Default theme color values */

$clp-theme-01: (
  primary: #f57f17,
  primary-v: #fbc02d ,
  secondary: #651fff ,
  secondary-v: #b388ff
) !default;

$clp-theme-02: (
  primary: #6200ee,
  primary-v: #6200eea1,
  secondary: #03dac6,
  secondary-v: #03dac6a1,
) !default;

$clp-theme-03: (
  primary: #6200ee,
  primary-v: #6200eea1,
  secondary: #03dac6,
  secondary-v: #03dac6a1,
) !default;

$clp-theme-04: (
  primary: #6200ee,
  primary-v: #6200eea1,
  secondary: #03dac6,
  secondary-v: #03dac6a1,
) !default;

$clp-theme-05: (
  primary: #6200ee,
  primary-v: #6200eea1,
  secondary: #03dac6,
  secondary-v: #03dac6a1,
) !default;

$clp-theme-06: (
  primary: #6200ee,
  primary-v: #6200eea1,
  secondary: #03dac6,
  secondary-v: #03dac6a1,
) !default;

/* Default transitions */

$clp-transition-clr: color 1.5s ease-in;
$clp-transition-bg: background-color 1.5s ease-in;
$clp-transition-stroke: stroke 1.5s ease-in;
$clp-transition-fill: fill 1.5s ease-in;