/* Default theme color values */

$clp-theme-01: (
  clp01: #c6493a,
  clp02: #edf5e1,
  clp03: #5cdb95,
  clp04: #907163,
  clp05: #111111,
) !default;

$clp-theme-02: (
  clp01: #522e38,
  clp02: #b9375e,
  clp03: #e05780,
  clp04: #ff7aa2,
  clp05: #ffe0e9,
) !default;

$clp-theme-03: (
  clp01: #081c15,
  clp02: #2d6a4f,
  clp03: #74c69d,
  clp04: #b7e4c7,
  clp05: #d8f3dc,
) !default;

$clp-theme-04: (
  clp01: #05668d,
  clp02: #028090,
  clp03: #00a896,
  clp04: #02c39a,
  clp05: #f0f3bd,
) !default;

$clp-theme-05: (
  clp01: #220901,
  clp02: #621708,
  clp03: #941b0c,
  clp04: #bc3908,
  clp05: #f6aa1c,
) !default;

$clp-theme-06: (
  clp01: #ffffff,
  clp02: #e9ecef,
  clp03: #ced4da,
  clp04: #495057,
  clp05: #212529,
) !default;

/* Default transitions */

$clp-transition-clr: color 2s ease-in;
$clp-transition-bg: background-color 2s ease-in;
$clp-transition-stroke: stroke 2s ease-in;
$clp-transition-fill: fill 2s ease-in;
